.navbar{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    .navbar-brand{
        font-family: $logo-font;
        font-size: 1em;
        color:$accent-color;
        &:hover{
            color: $accent-color;
        }
    div{
        font-size: 1.2em;
        }
    }
    .nav-item .nav-link{
        color: rgba(0, 0, 0, 0.5);
        &.active{
            color: $accent-color;
        }
        &:hover{
            color: $accent-color;
        }
    }
}

.navbar-toggler{
    border-color: black;
}

#navbar-toggler{
    outline: none;
}

.navbar-toggler-icon{
    color: black;
}

@media (max-width: 400px) {
    .navbar .navbar-brand{
        font-size: 0.9em;
    }
    p, ul{
        font-size: 0.9em;
    }
}

@media (max-width: 360px) {
    .navbar .navbar-brand{
        font-size: 0.75em;
    }
}

